{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Toko Uap</title>
{% endblock meta %}
{% block content %}
{% include 'navbar.html' %}
<div class="overflow-x-hidden px-4 md:px-8 pb-8 pt-24 min-h-screen bg-[#001D3D] flex flex-col">
  <div class="p-2 mb-6 relative"></div>
  
  <div class="px-3 mb-4 flex justify-between items-center">
    <div class="flex rounded-md items-center bg-[#003566] py-2 px-4 w-fit">
      <h1 class="text-[#FFD60A] text-center">Last Login: {{last_login}}</h1>
    </div>
    <a href="{% url 'main:create_product_entry' %}" class="bg-[#FFC300] hover:bg-[#FFD60A] text-[#000814] font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
      Add New Product Entry
    </a>
  </div>

  {% if not product_entries %}
    <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
      <img src="{% static 'image/sedih-banget.jpeg' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
      <p class="text-center text-gray-300 mt-4">Belum ada data product pada Toko Uap.</p>
    </div>
  {% else %}
    <div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
      {% for product_entry in product_entries %}
        {% include 'card_product.html' with product_entry=product_entry %}
      {% endfor %}
    </div>
  {% endif %}
  
  <footer class="bg-[#001D3D] text-[#FFD60A] py-4 mt-auto">
    <div class="container mx-auto text-center">
      <p class="text-sm">Name: {{ nama }}</p>
      <p class="text-sm">NPM: {{ npm }}</p>
      <p class="text-sm">Kelas: {{ kelas }}</p>
    </div>
  </footer>
</div>
{% endblock content %}
